<!--The content below is only a placeholder and can be replaced.-->
<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let award of awards">
    <!-- <img [src]="image" alt="Random slide"> -->
    <div class="carousel-caption" >
      <h3 [innerHTML]="award.title"></h3>
    </div>
  </ng-template>
</ngb-carousel>

<hr>

<router-outlet></router-outlet>
