.carousel-inner { 
    background: #fff url('http://teamhq.afgonline.com.au/wp-content/uploads/2019/04/AFG-Appreciate-Teamwork-2019-1-770x415.png') no-repeat fixed center;
    background-size: cover;
    min-height: 800px;
    min-width: 100%;

    .carousel-item {
        margin: 0 auto;
        min-height: 120px;
        padding: 20px;
        background: #53495aba;
        max-width: 800px;
        border-radius: 5px;
        margin-top: 20px;
    }
}